/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);

/* Dichiarazioni Generiche */

body {
   margin: 0;
   padding: 0;
   font-weight: 400;
   color: whitesmoke!important;
   background: #fceacf;
   min-width: 760px;
}

#lotSearchForm, .panel, .items , form, .modal {
    color: black!important;   
}

body, table, tr, td, input, .tipsy-inner {
   font-size: 13px;
   /*font-family: 'Roboto', Arial, Helvetica, sans-serif;*/
   font-family: 'Open Sans',Arial,sans-serif!important;
   
}

*:focus {
    outline: 0 !important;
}

*::-webkit-input-placeholder {
   color: #505050;
}
*:-moz-placeholder {
   color: #505050;  
}
*::-moz-placeholder {
   color: #505050; 
}
*:-ms-input-placeholder {  
   color: #505050;
}

/*a { 
   color: #505050; 
   text-decoration: none!important;
}*/

a, a:hover, a:focus, a:visited {
   color: #5B626C;
   text-decoration: none;
}

/*#page
{
    background-color: black;
}*/

/*#body-container {*/
#page {
    background-image:url('../images/site/back1200s.jpg');
    background-repeat:no-repeat;
    /*background-attachment:fixed;*/
    background-position:right top;
    background-color: black;
}

#header-logo-div
{
	margin: 0;
	padding: 0;
        float: left;
}

#header-icons {
    float: right;
    padding-top: 30px;
    padding-right: 30px;
}

.header-icon {
    float: right;
}

.header-icon img {
    /*height: 50px;*/
}

#content
{
    padding: 20px;
    z-index: 1000;
    /* max-width: 960px; */
    margin-left:auto;
    margin-right:auto;
}

.line-breaker {
    background-image:url('../images/site/line-break.png');
    background-repeat:no-repeat;
    background-position:center;
    height: 20px;
    }

#slideshow-container {
    display: none;
}

#slideshow-container img {
    
}

.max-column {
    width: auto;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.items {
    width: auto;
    height: 100%!important;
    margin-left: auto;
    margin-right: auto;
}

.show-filter-button{
    margin: 15px;
}

#hide-search {
    display: none;
}

#search-column {
    display: none;
    position: absolute;
    z-index: 9999999;
}

.main-search-grp {
    margin-left: 30px;
}

.main-search-btn {
    background-color: #fceacf!important;
    /*min-width: 150px;*/
    width: 150px;
    margin-top: 25px;
}

.main-search-grp .input-group {
    top: 3px;
}

.main-search-btn .glyphicon {
    top: 0px;
}

.main-search-btn input, .main-search-btn span {
    background-color: #fceacf!important;
}

.main-search-btn span {
    margin-left: 7px;
}

#searchLot-form {
    margin-top: 30px;
}
#searchLot-form input[type=text] {
	float: left;
        width: 80%;
}

#searchLot-form input[type=submit] {
	float: left;
        width: auto;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
}

/* SLIDESHOW CONTROLS*/
.slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(../images/site/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}

.left-btn-grp {
    position: absolute;
    top: 165px;
    z-index: 1001;
}

.left-btn {
    
}

.left-btn img {
    width: 200px;   
    height: 100px;
    margin-top: 8px;
}
/***************/
.filter-container {
    min-height: 100px;
    min-width: 500px;
}

.label-find-lot {
    color: #fceacf;
    /*float: left;*/
    /*width: 40%;*/
}

.main-width {
   width: 980px;
   padding: 0;
   margin: 0 auto;
   clear: both;
}

.clear {
   clear: both;
}

.euro {
   font-size: 70%;
   padding-left: 0.2em;
}

button.close {
   /*padding: 10px 15px 0 0;*/
}

.width-50perc {
   width: 50% !important;
}

.width-33perc {
   width: 33.3333333333% !important;
}

.width-25perc {
   width: 25% !important;
}

.width-20perc {
   width: 20% !important;
}

.site-main-logo {
   max-height: 150px;
   padding-top: 30px;
   padding-left: 30px;
}

.gototop-fixed {
   position: fixed;
   bottom: 20px;
   right: 20px;
   font-size: 50px;
   color: #a0a0a0;
}

.gototop-fixed a {
   color: #a0a0a0;
   text-decoration: none;
}

.gototop-fixed a:hover {
   color: #909090;
   text-decoration: none;
}

#fixed-cart {
   background-color: black;
   width: 100%;
   min-height: 130px;
}

/* Main menù*/


#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
        float: left;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

/* Footer */

.footer {
   background: #f7f7f7;
   border-top: 1px solid #cccccc;
   padding: 25px 0;
   margin-top: 20px;
}

.footer-left, .footer-middle, .footer-right {
   width: 313px;
   float: left;
   text-align: justify;
}

.footer-middle {
   margin: 0 20px;
}

.footer h3 {
   font-size: 19px;
   font-weight: bold;
   margin-bottom: 5px;
}

.footer .footer-subtitle {
   color: #999999;
   text-align: left;
   margin-top: 5px;
   margin-left: 10px;
}

.footer .footer-subtitle a {
   color: #AAAAAA;
   text-decoration: none;
   font-size: 20px !important;
   margin-right: 10px;
}

.footer .footer-subtitle a:hover {
   color: #0095cd;
}


.footer-link a {
   color: #0095cd;
}

.footer-right {
   text-align: right;
}

.footer-right a {
   color: #999999;
   line-height: 19px;
   
}

.red-box {
    background-color: aqua;
}

#big-gallery-item {
    height: 600px;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    /*width: 100%!important;*/
}

.jcarousel li {
    float: left;
    width: 150px;
}


.login-panel {
    /*display: none;*/
    position: absolute;
    background-color: #424242;
    opacity: 0.9;
}

.show-login {
    display: block;
}

.hide-login {
    display: none;
}

.login-block {
    
}

.lot-box {
    width: 232px;
    height: 380px;
    margin: 10px;
    float: left;
    background-color: #fdfae5;
    text-align: center;
} 

.lot-box-int {
    width: 220px;
    height: 370px;
    margin: 5px;
    border: 1px solid black;
    background-color: white;
}

.lot-cat {
    position: relative;
}

.lot-cat img {
    width: 50px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 5px;
}

.user-check {
    position: relative;
}

.user-check img {
    width: 50px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 5px;
}

.lot-name {
    margin: 5px 0 5px 0;
    border-bottom: 1px solid black;
}

.lot-name-cont {
    width: 90%;
}

.lot-icons-cont {	
	margin-left: 5px;
	margin-right: 5px;
}

.lot-panel {
    
}

.lot-panel h3 , .lot-panel h4 {
    background-color: darkgreen;
    color: white;
    border-radius: 4px;
    padding: 5px 20px 5px 20px;
}

.lot-b-text {
    font-weight: bold;
}

.lot-i-text {
    font-style: italic;
    font-size: small;
}

.lot-prize-text {
    font-size: 4em;
    vertical-align: middle;
    margin-left: 20px;
}

.cat-icon {
    width: 20px;
    height: 20px;
}

.jam-round {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    float: left;	
    margin-top: 5px;
}

.status-1 {
    background-color: gray;
}

.status-2 {
    background-color: #fedc7f;
}

.status-3 {
    background-color: #5bdd3d;
}

.status-4 {
    background-color: #fd7c70;
}

.status-5 {
    background-color: black;
}

.star-cont {
    float: left;
    margin-left: 5px;
}

.lot-star {
    background-image:url('../images/site/lot-box-star.png');
    background-repeat:no-repeat;
    background-position:center;
    height: 25px;
}

.lot-break {
    background-image:url('../images/site/lot-box-break.png');
    background-repeat:no-repeat;
    background-position:center;
    height: 11px;
}

.lot-value p {
    font-size: 40px;
}

.lot-img {
    margin-top: 30px;
    height: 200px;
}

.lot-wlmoney {
    height: 40px;
}

.winners-container, .main-lot-container {
    width: 100%;
}

.winners-banner, .main-lot-banner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.updateImgBox {
    width: 120px;
    height: 220px;
    float: left;
    margin: 5px;
}

#big-gallery-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.main-width {
   max-width: 980px;
   margin: 0 auto;
   position: relative;
}

#profile-tabs {
   width: 100%;
   clear: both;
   margin-bottom: 30px;
}

.profile-tab-item {
   border: 0px;
   float: left;
}

.profile-tab-item > button {
   width: 100% !important;
}

.profile-tab-item .btn {
   padding: 8px;
   margin: 0;
   border: 0px;
   border-bottom: 3px solid #bbbbbb;
   background: transparent;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   text-shadow: none;
   text-align: left; 
   line-height: 29px;
   white-space: nowrap;
   text-overflow: ellipsis;
   color: #999999;
}

.profile-tab-item a {   
   padding: 8px;
   margin: 0;
   border: 0px;
   border-bottom: 3px solid #bbbbbb;
   background: transparent;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   text-shadow: none;
   text-align: left; 
   line-height: 29px;
   white-space: nowrap;
   text-overflow: ellipsis;
   color: #999999;
}

.profile-tab-item .btn .badge {
   background-color: #BBBBBB;
   color: #ffffff;
   text-shadow: none;
   line-height: 29px;
   text-align: center;
   width: 29px;
   height: 29px;
   overflow: hidden;
   font-weight: 300;
   font-size: 13px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   padding: 0;
   position: relative;
   top: auto;
   vertical-align: top;
   margin-right: 2px;
}

.profile-tab-item .btn .badge em {
   font-size: 19px;
   line-height: 29px;
   text-align: center;
   display: inline;
}

.profile-tab-item .btn .badge em.fa-users {
   font-size: 16px;
}

.profile-tab-item .btn .badge em.fa-plus {
   font-size: 18px;
   line-height: 30px;
}

.profile-tab-item .btn .badge em.fa-sign-in {
   margin-left: -1px;
}

.profile-tab-item .btn .badge em.fa-bars {
   font-size: 18px;
   line-height: 30px;
}
.profile-tab-item .btn .badge em.fa-info {
   font-size: 20px;
   line-height: 30px;
}

.profile-tab-item .btn .badge em.fa-globe {
   font-size: 21px;
   line-height: 30px;
}

.profile-tab-item  .btn-info {
   border-color: #6b9d28;
   color: #E5EBDD;
}

.profile-tab-item .tab-text {
   font-family: 'Roboto Slab';
   font-size: 16px;
}

.profile-tab-item .btn .badge-new {
   margin-left: 5px;
   width: auto;
   padding: 0 7px;
   font-size: 11px;
   background-color: #BBBBBB;
   color: #ffffff;
   text-shadow: none;
   font-weight: 300;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   padding: 0;
   vertical-align: top;
   padding: 2px 5px;
}

.profile-tab-item .btn-info .badge {
   background-color: #6b9d28;
   color: #ffffff;
   margin-right: 0;
}

.profile-tab-item .btn-info .badge-new {
   background-color: #808080;
   color: #ffffff;
}

.profile-tab-item.witherror  .btn-info {
   border-bottom-color: #e4631d;
   color: #202020;
}

.profile-tab-item  .btn-info:hover {
   background: transparent;
   border-color: #6b9d28;
}

.profile-tab-item  .btn:hover {
   background: transparent;
   border-color: #6b9d28;
}

.profile-tab-item.witherror .btn-info .badge {
   background-color: #e4631d;
   color: #ffffff;
}

.user-avatar {
    position: absolute;
    right: 50px;
    top: 100px;
}

.fileupload-buttonbar {
    float: right;
}

.ticket-list {
    width: 100%;
    min-width: 300px;
    padding: 50px;
}

.gift-box {
    width: 100%;
    min-width: 300px;
    padding: 50px;
}

.buy-btn {
    margin-left: 30px;
}

#buyBtn {
    margin-right: 50px;
    float: left;
}

#alert-box {
    width: 300px;
    float: left;
}

.center-float {
    margin: 0 auto;
}

.text-block {
    border: 1px solid #fff;
    padding: 10px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

/* TICKETS in profile*/
.list-img {
    float: left;
}

.list-text {
    float: left;
}
.ticket-lot {
    display: none;
}