/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);

/* Dichiarazioni Generiche */

body {
   margin: 0;
   padding: 0;
   font-weight: 400;
   color: whitesmoke!important;
   background: #fceacf;
   min-width: 760px;
}

#lotSearchForm, .panel, .items , form, .modal {
    color: black!important;   
}

.errorMessage, .errorSummary {
    color: red!important;   
}

body, table, tr, td, input, .tipsy-inner {
   font-size: 13px;
   /*font-family: 'Roboto', Arial, Helvetica, sans-serif;*/
   font-family: 'Open Sans',Arial,sans-serif!important;
   
}

*:focus {
    outline: 0 !important;
}

*::-webkit-input-placeholder {
   color: #505050;
}
*:-moz-placeholder {
   color: #505050;  
}
*::-moz-placeholder {
   color: #505050; 
}
*:-ms-input-placeholder {  
   color: #505050;
}

/*a { 
   color: #505050; 
   text-decoration: none!important;
}*/

a, a:hover, a:focus, a:visited {
   /*color: #5B626C;*/
   text-decoration: none;
}

/*#page
{
    background-color: black;
}*/

/*#body-container {*/
#page {
    background-image:url('../images/site/back1200s.jpg');
    background-repeat:no-repeat;
    /*background-attachment:fixed;*/
    background-position:right top;
    background-color: black;
}

#header-logo-div
{
	margin: 0;
	padding: 0;
        float: left;
}

#header-icons {
    float: right;
    padding-top: 30px;
    padding-right: 30px;
    width: 100%;
}

.header-icon {
    float: right;
    margin: 5px;
}

.search-icon {
    margin: 5px;
}

.header-icon img, .search-icon img {
    height: 50px;
}

.text-cut {
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

#content
{
    padding: 20px;
    z-index: 1000;
    /* max-width: 960px; */
    margin-left:auto;
    margin-right:auto;
}

.line-breaker {
    background-image:url('../images/site/line-break.png');
    background-repeat:no-repeat;
    background-position:center;
    height: 20px;
    }

#slideshow-container {
    display: none;
}

#slideshow-container img {
    
}

.img-avatar {
    width: 50px;
    height: 50px;
}

.max-column {
    width: auto;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.items {
    width: auto;
    /*height: 100%!important;*/
    margin-left: auto;
    margin-right: auto;
}

.show-filter-button{
    margin: 15px;
}

#hide-search {
    display: none;
}

#search-column {
    display: none;
    position: absolute;
    z-index: 9998;
}

.pac-container{
    z-index: 9999;
}

.main-search-grp {
    margin-left: 30px;
}

.main-search-btn {
    background-color: #fceacf!important;
    /*min-width: 150px;*/
    width: 150px;
    margin-top: 25px;
}

.main-search-grp .input-group {
    top: 3px;
}

.main-search-btn .glyphicon {
    top: 0px;
}

.main-search-btn input, .main-search-btn span {
    background-color: #fceacf!important;
}

.main-search-btn span {
    margin-left: 7px;
}

#searchLot-form {
    margin-top: 30px;
}
#searchLot-form input[type=text] {
	float: left;
        width: 80%;
}

#searchLot-form input[type=submit] {
	float: left;
        width: auto;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
}

/* SLIDESHOW CONTROLS*/
.slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(../images/site/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}

.left-btn-grp {
    position: absolute;
    top: 165px;
    z-index: 1001;
}

.left-btn {
    
}

.left-btn img {
    width: 200px;   
    height: 100px;
    margin-top: 8px;
}
/***************/
.filter-container {
    min-height: 100px;
    min-width: 500px;
}

.label-find-lot {
    color: #fceacf;
    /*float: left;*/
    /*width: 40%;*/
}

.main-width {
   width: 980px;
   padding: 0;
   margin: 0 auto;
   clear: both;
}

.clear {
   clear: both;
}

.euro {
   font-size: 70%;
   padding-left: 0.2em;
}

button.close {
   /*padding: 10px 15px 0 0;*/
}

.width-80perc {
   width: 80% !important;
}

.width-75perc {
   width: 75% !important;
}

.width-50perc {
   width: 50% !important;
}

.width-33perc {
   width: 33.3333333333% !important;
}

.width-25perc {
   width: 25% !important;
}

.width-20perc {
   width: 20% !important;
}

.site-main-logo {
   max-height: 150px;
   padding-top: 30px;
   padding-left: 30px;
}

.logo-subtitle {
    position: relative;
    float: right;
    font-size: 50px;
    top: -40px;
    color: white;
    font-family: UnifrakturCook;
}

.cat-drop-list {
    padding: 5px;
}

.gototop-fixed {
   position: fixed;
   bottom: 20px;
   right: 20px;
   font-size: 50px;
   color: #a0a0a0;
}

.gototop-fixed a {
   color: #a0a0a0;
   text-decoration: none;
}

.gototop-fixed a:hover {
   color: #909090;
   text-decoration: none;
}

#fixed-cart {
   background-color: black;
   width: 100%;
   min-height: 160px;
}

/* Main menù*/


#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
        float: left;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

/* Footer */

.footer {
   background: #f7f7f7;
   border-top: 1px solid #cccccc;
   padding: 25px 0;
   margin-top: 20px;
}

.footer-left, .footer-middle, .footer-right {
   width: 313px;
   float: left;
   text-align: justify;
}

.footer-middle {
   margin: 0 20px;
}

.footer h3 {
   font-size: 19px;
   font-weight: bold;
   margin-bottom: 5px;
}

.footer .footer-subtitle {
   color: #999999;
   text-align: left;
   margin-top: 5px;
   margin-left: 10px;
}

.footer .footer-subtitle a {
   color: #AAAAAA;
   text-decoration: none;
   font-size: 20px !important;
   margin-right: 10px;
}

.footer .footer-subtitle a:hover {
   color: #0095cd;
}


.footer-link a {
   color: #0095cd;
}

.footer-right {
   text-align: right;
}

.footer-right a {
   color: #999999;
   line-height: 19px;
   
}

.red-box {
    background-color: aqua;
}

#big-gallery-item {
    height: 600px;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    /*width: 100%!important;*/
}

.jcarousel li {
    float: left;
    width: 150px;
}


.login-panel {
    /*display: none;*/
    position: absolute;
    background-color: #424242;
    opacity: 0.9;
}

.show-login {
    display: block;
}

.hide-login {
    display: none;
}

.login-block {
    
}

.main-lot-list .summary {
    /*visibility: hidden;*/
}

.lot-box-item {
    width: 250px!important;
    height: 450px!important;
    margin: 10px!important;
    float: left;
    background-color: #fdfae5;
    text-align: center;
} 

.lot-box-int, .lot-box-hover {
    width: 240px;
    height: 440px;
    margin: 5px;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
}

.lot-seller-war {
    vertical-align: central;
}

.identity-text {
    border-radius: 5px;
    height: 40px;
}

.lot-box-hover {
    display: none;
    opacity: 0.95;
    position: absolute;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    color: black;
    font-size: 50px;
    overflow: hidden;
}

.user-small-thumb {
    max-width: 80px;
    max-height: 80px;
}

.user-small-avatar-container {
    min-width: 80px;
}

.user-small-vendor-container {
    max-width: 105px;
    max-height: 80px;
    overflow: hidden;
}

.lot-cat {
    position: relative;
}

.lot-cat img {
    width: 50px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 5px;
}

.user-check {
    position: relative;
}

.user-check img {
    width: 50px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 5px;
}

.lot-box-first-row {
    min-height: 50px;
    margin-top: 5px;
}

.lot-cat img {
    width: 50px;
    height: 80px;
    position: absolute;
    top: -25px;
    left: -15px;
}

.lot-name {
    margin: 5px 0 5px 0;
    border-bottom: 1px solid black;
    width: 100%;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
}

.lot-name-cont {
    width: 90%;
}

.lot-icons-cont {	
    padding: 10px;
    width: 100%;
    min-height: 80px;
}

.win-perc {
    font-size: 24px;
    color: red;
}

.win-perc-text {
    margin: 0 20px 0 20px;
    font-size: 16px;
    vertical-align: central;
}

.lot-panel {
    
}

.lot-panel h3 , .lot-panel h4 {
    background-color: darkgreen;
    color: white;
    border-radius: 4px;
    padding: 5px 20px 5px 20px;
}

.lot-box-item h3 , .lot-box-item h4 {
    background-color: white;
    color: black;
    border-radius: 0;
    padding: 0;
}

.lot-b-text {
    font-weight: bold;
}

.lot-i-text {
    font-style: italic;
    font-size: small;
}

.lot-prize-text {
    font-size: 4em;
    vertical-align: middle;
    margin-left: 20px;
}

.prize-desc-over {
    border: 1px dotted black;
    border-radius: 4px;
    height: 211px;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.prize-desc-over-box {
    height: 58%;
}

.under-border-row {
    border-bottom: 1px solid black;
    margin-bottom: 3px;
}

.lot-creator-over {
    height: 60px;
}

.lot-creator-over, .lot-creator-over span {
    z-index: 11;
}

.lot-location-over, .lot-location-over span {
    z-index: 9;
}
.lot-location-over {
    height: 0px;
    position: relative;
    top: -40px;
    margin-left: 25px;
}

.special-offer-block {
    float: left;
    position: absolute;
    margin-top: 55px;
}

.special-offer-block label {
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
}

.special-offer-block input {
    
}

.your-score, .winning-score {
    
}

.your-score {
    
}

.winning-score {
    
}

.cat-icon {
    width: 20px;
    height: 20px;
}

.jam-round {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    /*float: left;	*/
    margin-top: 5px;
    position: absolute;
    left: -10px;
    top:-15px;
}

.status-1 {
    background-color: gray;
}

.status-2 {
    background-color: orange;
}

.status-3 {
    background-color: green;
}

.status-4 {
    background-color: red;
}

.status-5 {
    background-color: red;
}

.status-6 {
    background-color: black;
}

.star-cont {
    float: left;
    margin-left: 5px;
}

.cocc-cont {
    float: right;
    margin-right: 5px;
}

.lot-star {
    background-image:url('../images/site/lot-box-star.png');
    background-repeat:no-repeat;
    background-position:center;
    height: 25px;
}

.lot-break {
    background-image:url('../images/site/lot-box-break.png');
    background-repeat:no-repeat;
    background-position:center;
    height: 11px;
}

.lot-value {
    position: relative;
    top: -10px;
    padding-left: 20px;
}

.lot-value p {
    font-size: 40px;
}

.lot-img {
    margin-top: 15px;
    height: 200px;
}

.lot-wlticket img {
    height: 40px;
    position: relative;
    left: -10px;
}

.lot-wlmoney img {
    height: 40px;
    position: relative;
    left: -10px;
}

.winners-container, .main-lot-container {
    width: 100%;
}

.winners-banner, .main-lot-banner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.updateImgBox {
    width: 120px;
    height: 220px;
    float: left;
    margin: 5px;
}

#big-gallery-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.main-width {
   max-width: 980px;
   margin: 0 auto;
   position: relative;
}

#profile-tabs {
   
}

.profile-tab-item {
   border: 0px;
   float: left;
}

.profile-tab-item > button {
   width: 100% !important;
}

.profile-tab-item .btn {
   padding: 8px;
   margin: 0;
   border: 0px;
   border-bottom: 3px solid #bbbbbb;
   background: transparent;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   text-shadow: none;
   text-align: left; 
   line-height: 29px;
   white-space: nowrap;
   text-overflow: ellipsis;
   color: #999999;
}

.profile-tab-item a {   
   padding: 8px;
   margin: 0;
   border: 0px;
   border-bottom: 3px solid #bbbbbb;
   background: transparent;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   text-shadow: none;
   text-align: left; 
   line-height: 29px;
   white-space: nowrap;
   text-overflow: ellipsis;
   color: #999999;
}

.profile-tab-item .btn .badge {
   background-color: #BBBBBB;
   color: #ffffff;
   text-shadow: none;
   line-height: 29px;
   text-align: center;
   width: 29px;
   height: 29px;
   overflow: hidden;
   font-weight: 300;
   font-size: 13px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   padding: 0;
   position: relative;
   top: auto;
   vertical-align: top;
   margin-right: 2px;
}

.profile-tab-item .btn .badge em {
   font-size: 19px;
   line-height: 29px;
   text-align: center;
   display: inline;
}

.profile-tab-item .btn .badge em.fa-users {
   font-size: 16px;
}

.profile-tab-item .btn .badge em.fa-plus {
   font-size: 18px;
   line-height: 30px;
}

.profile-tab-item .btn .badge em.fa-sign-in {
   margin-left: -1px;
}

.profile-tab-item .btn .badge em.fa-bars {
   font-size: 18px;
   line-height: 30px;
}
.profile-tab-item .btn .badge em.fa-info {
   font-size: 20px;
   line-height: 30px;
}

.profile-tab-item .btn .badge em.fa-globe {
   font-size: 21px;
   line-height: 30px;
}

.profile-tab-item  .btn-info {
   border-color: #6b9d28;
   color: #E5EBDD;
}

.profile-tab-item .tab-text {
   font-family: 'Roboto Slab';
   font-size: 16px;
}

.profile-tab-item .btn .badge-new {
   margin-left: 5px;
   width: auto;
   padding: 0 7px;
   font-size: 11px;
   background-color: #BBBBBB;
   color: #ffffff;
   text-shadow: none;
   font-weight: 300;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   padding: 0;
   vertical-align: top;
   padding: 2px 5px;
}

.profile-tab-item .btn-info .badge {
   background-color: #6b9d28;
   color: #ffffff;
   margin-right: 0;
}

.profile-tab-item .btn-info .badge-new {
   background-color: #808080;
   color: #ffffff;
}

.profile-tab-item.witherror  .btn-info {
   border-bottom-color: #e4631d;
   color: #202020;
}

.profile-tab-item  .btn-info:hover {
   background: transparent;
   border-color: #6b9d28;
}

.profile-tab-item  .btn:hover {
   background: transparent;
   border-color: #6b9d28;
}

.profile-tab-item.witherror .btn-info .badge {
   background-color: #e4631d;
   color: #ffffff;
}

.user-avatar {
    position: absolute;
    right: 50px;
    top: 100px;
}

.small-username {
    font-size: small;
    margin-bottom: 0;
}

.fileupload-buttonbar {
    float: right;
}

.ticket-list {
    width: 100%;
    min-width: 300px;
}

.ticket-block {
    border: 1px solid black;
    border-radius: 4px;
    display: none;
}

.ticket-lot {
    background-image:url('../images/site/list-item-ticket.png');
    background-repeat:no-repeat;
    /*background-attachment:fixed;*/
    background-position:right top;
    background-color: white;
    width: 120px;
    height: 65px;
    float: left;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

.ticket-number-text {
    color: white;
    position: relative;
    top: 50%;
    font-weight: bold;
    font-size: medium;
}

.winner-ban {
    /* position: absolute; */
    margin: 6px 20px 6px 20px;
}

.gift-box {
    width: 100%;
    min-width: 300px;
    padding: 50px;
}

.fb-gift, .fb-share {
    background-color: blue;
}

.gp-gift, .gp-share {
    background-color: #ff001b;
}

.tw-share {
    background-color: #46b8da;
}

.hoauthShareWidget {
    position: absolute;
    width: 0px;
    height: 0px;
}

.ticket-gift-text {
    position: relative;
    top: 44px;
    left: -26px;
}

.ticket-gift-btn {
    position: relative;
    top: 25px;
    left: 27px;
}

#alert-box {
    /*width: 300px;*/
    width: 100%;
    float: left;
}

.center-float {
    margin: 0 auto;
}

.text-block {
    border: 1px solid #fff;
    padding: 10px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

/* TICKETS in profile*/
.list-img {
    float: left;
    min-width: 140px;
    margin-right: 10px;
    text-align: center;
}

.list-text {
    float: left;
}

.inline {
    display: inline;
}

.upper-label {
    text-transform: uppercase;
    font-size: xx-large;
    color: darkgreen;
}

#loginModal {
    /*background-color:*/ 
}

.favLotBtn {
    color: green;
}

.gift-ticket-box {
    display: none;
}

.gift-btn-container {
    margin: 10px 0 10px 0;
}

.friends {
    margin: 10px 0 10px 0;
    padding: 10px;
}

#emailErrorText, #emailSuccessText, .giftErrorText, .giftSuccessText , #retrive-credit-panel, .draw-block, .twitter-share-button {
    display: none;
}

.following-box, .follower-box {
    display: none;
}

.user-small-box {
    width: 100px;
    cursor: pointer;
}
.user-small-ticket-box {
    width: 100px;
    height: 125px;
    cursor: pointer;
    float: left;
    border: 1px #BBBBBB solid;
    border-radius: 5px;
    margin: 5px;
    padding-top: 5px;
    text-align: center;
    overflow: hidden;
}
.selected-box, .selected-box {
    border: 5px solid yellowgreen;
    border-radius: 8px;
}
#gift-username {
    border: none;
    background: none;
}

.float-circle {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    /*float: left;*/	
    margin-top: 5px;
    background-color: red;
    padding-left: 6px;
    top: -65px;
    left: -10px;
}

.notify-unread {
    background-color: #fbfec5;
}

// PROFILE -> GIFT CREDIT
#retrive-credit-panel {
    display: none;
}

.grid-view .button-column
{
	text-align: left!important;
	/*width: 65px;*/
}

.grid-view .button-column > a > span 
{
	/* text-align: center; */
	width: 75px;
        margin: 3px 0 3px 0;
}

.big-words {
    color: #62c462;
    text-decoration: underline;
}

.summary {
    /*display: none;*/
}

.spacer {
    padding-left: 5px;
    padding-right: 5px;
}

#valueWithCommission {
    
}

#valueWithCommissionBlock {
    display: none;
}

.ui-dialog {
    z-index: 1100!important;
}

.startHide {
    display: none;
}

.redBox {
    border: 1px solid red;
    border-radius: 3px;
}

#ticket-search {
    display: none;
}